<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Modifier des Suppléments</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="template"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Modifier des Suppléments
        </div>
        <div class="card-body">
            <form th:action="@{saveSupplement}" method="post">
                <div class="form-group">
                    <label class="control-label" hidden>ID Supplément :</label>
                    <input type="hidden" name="idSupplement" class="form-control"
                           th:value="${supplement.idSupplement}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Nom Supplément :</label>
                    <input type="text" name="nomSupplement" class="form-control"
                           th:value="${supplement.nomSupplement}" />
                    <span th:errors="${supplement.nomSupplement}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Dosage Supplément :</label>
                    <input type="text" name="dosageSupplement" class="form-control"
                           th:value="${supplement.dosageSupplement}" />
                    <span th:errors="${supplement.dosageSupplement}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Prix Supplément :</label>
                    <input type="text" name="prixSupplement" class="form-control"
                           th:value="${supplement.prixSupplement}" />
                    <span th:errors="${supplement.prixSupplement}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Marque Supplément :</label>
                    <input type="text" name="marqueSupplement" class="form-control"
                           th:value="${supplement.marqueSupplement}" />
                    <span th:errors="${supplement.marqueSupplement}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Date Création :</label>
                    <input type="date" name="dateCreation" class="form-control"
                           th:value="${supplement.dateCreation}" />
                    <span th:errors="${supplement.dateCreation}" class="text-danger"></span>
                </div>
            
                <div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>